body {
    background-image: url("../images/background3.jpg");
    background-size: 100%;
    background-repeat: repeat;
}
footer{
	background-color: rgb(248,248,248);
	text-align: center;
	vertical-align:middle;
	padding: 25px;
	font-size: 11px;

}

footer a{
	font-style: 
}

.page {
	float: center;
	background-color: rgba(248,248,248, .65);
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 50px;
}

#headerimage {
	width:100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#logo {
	max-width:225px; 
	margin-top: -65px;
	margin-left: -50px;
}

.icon{
	width:100%;

}
.content{
	
}

.footer{
 text-align:center;
 vertical-align:middle;
 background: black;
}
.pad50{
	padding: 50px;
}
.center {
	display: block;
    margin-left: auto;
    margin-right: auto; 
}
hr {
	margin: 5px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.copyright {
	color: grey;
	text-align: center;
	vertical-align: middle;

}
