body {
    background-image: url("../images/background3.jpg");
    background-size: 100%;
    background-repeat: repeat;
    
}

.page {
	float: center;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 50px;
}

#headerimage {
	width:100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*border-top: 5px solid black; #85633a
	border-left: 5px solid black;
	border-right: 5px solid black;*/
}

#logo {
	max-width:225px; 
	margin-top: -65px;
	margin-left: -50px;

	
}
tr{
 text-align:center;
 vertical-align:middle;
}
td{
 text-align:center;
 vertical-align:middle;
}
.footer{
 text-align:center;
 vertical-align:middle;
 background: black;
}
